body{
	margin: 0;
	font-family: "Roboto";
}

html{
	height: 100%
}

.container{
	margin: 5% auto;
	text-align: center;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: auto;
	height: auto;
	white-space: nowrap;
	vertical-align: center;
	padding: 8px;
	font: 16px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 3px;
	pointer-events: none;
	box-shadow: 3px 3px 5px grey;
}

.axis {
	font-size: 18px;
}

.title {
	font-size: 34px;
	font-weight: 700;
}

.subtitle {
	font-size: 24px;
}

.axisTitle {
	font-size: 26px;
}

.dot {
	opacity: 0.5;
	stroke: black;
	stroke-width: 1px;
}

.legend {
	font-size: 20px;
}
